h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}
.right-side {
    background-color: black;
    color: #b3b1b1;
}

.bi-square {
    font-size: 0.5rem;
}

.friends-icons * i {
    font-size: 1.4rem;
}

.friends-songs {
    font-size: 0.6rem;
}

.friends-songs h5 {
    font-size: 0.7rem;
}

/* artista */

.middle-col {
    color: white;
}

.hero-section {
    background-image: url("https://spaces.whynow.co.uk/2023/02/metric-scaled.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    filter: grayscale(100%);
}

.btn-follow {
    border: 1px solid white;
    color: white;
    font-size: 0.7rem;
    margin-inline: 0.7rem;
}

.songs-section {
    font-size: 0.7rem;
}
